.select {
    position: relative;
    min-width: 350px;
    max-width: 450px;
    box-sizing: border-box;
    user-select: none;

    .chipContainer {
        position: relative;
        width: 100%;
        min-height: 46px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        background: #eee;
        border-radius: 23px;
        box-sizing: border-box;
        gap: 8px;
        cursor: text;
    
        .chip {
            width: max-content;
            height: 30px;
            border-radius: 15px;
            background-color: #d4d4d4;
            display: flex;
            align-items: center;
            padding: 0px 2px 0 10px;
            transform-origin: 0% 50%;
            animation: chipIn 0.1s ease-out forwards;

            .remove {
                cursor: pointer;
                padding: 8px;
                scale: 0.6;
                border-radius: 9999px;
                stroke-width: 1px;
                transition: all 0.1s ease-out;

                &:hover {
                    background: #ee4d41;
                    color: white;
                }
            }
        }
        .input {
            display: flex;
            align-items: center;
            outline: none;
            border: none;
            min-width: 2px;

            &.placeholder:empty::before {
                content: attr(aria-placeholder);
                color: #999999;
            }
        }
    }
    
    .optionsContainer {
        position: absolute;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #eee;
        border-radius: 16px;
        margin-top: 8px;
        overflow: hidden;
        animation: slideIn 0.15s ease-out forwards;
    
        .option {
            padding: 12px 16px;
            cursor: pointer;

            &:first-child {
                padding-top: 16px;
            }
            &:last-child {
                padding-bottom: 16px;
            }

            &:hover {
                background: #3498f5;
                color: white;
            }
        }
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateY(-10%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes chipIn {
        0% {
            opacity: 0;
            scale: 0;
        }
        100% {
            opacity: 1;
            scale: 1;
        }
    }
}